html{
    box-sizing: border-box;
}
*{
    box-sizing:inherit;
}

body{
    font-family: sans-serif;
    display: flex;
}

section{
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 0;
    background-color: #f0f0;
    height: 100vh;
    grid-gap:10px;
}

header{
    background-color: pink;
    grid-column: 2 / 6;
}

h1{
    display: flex;
    justify-content: center;
}

header > p{
    display: flex;
    justify-content: center;
    padding: 0;
}

aside{
    background-color: lightyellow;
    grid-column: 2 / 3;
}

main{
    background-color: lightgreen;
    grid-column: 3 / 6;
    
}
p{
    padding: 5px;
}

footer{
    background-color: lavender;
    grid-column: 2 / 6;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}