html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #101935;
}

.wrapper {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: auto 1fr 100px;
    grid-template-areas: 
    "header header" 
    "aside main" 
    "footer footer";
}
aside {
    grid-area: aside;
    background-color: #9AD4D6;
}

article {
    background-color: #F2FDFF;
}

article p:nth-child(1) {padding-left: 10px; padding-top: 10px;}
article p {padding-left: 10px;}

h1 {font-size:4rem;font-weight:normal;margin: 0;text-align: center;}
h2 {padding-left: 15px;}

aside {font-size: 22px}

figcaption {display: block;}

img {
    display: block;
    width: 500px;
    height: auto;
}

figure {margin-bottom: 0;}

p {margin-top: 0;}

header {
    grid-area: header;
    color: white;
    background-color: #564787;
    
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #DBCBD8;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-top: 40px;
}

footer li {
    padding-left: 15px;
}

.articleid{margin:0 auto 15px; text-align: center;}
dl {margin: 0;}
dt,dd{display:inline-block;margin:0;}

.articleid p {margin:0; display:inline;}