html{
    background-color: #888;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin:0 10%;
}
.header{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:5% 0;
    background-color:#004;
}
.header h1,.header p{
    margin:0;
    color:white;
}
.middle{
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows:1fr;
}
.middle aside{
    background-color: #365;
    padding:3% 5% 0 3%;
}
.middle ul{
    list-style:disc;
}
.middle article{
    padding:5% 10% 0 5%;
    background-color: white;
}
figure{
    margin: 0;
}
fig-caption{
    font-size:15px;
    margin:0;
}
footer ul{
    margin:0;
    padding:3%;
    list-style:none;
    display: flex;
    justify-content:space-between;
    background-color: #885;
    text-decoration: underline;
    font-weight: bold;
}